<app-home></app-home>
<div class="container">
	<hr>
	<div id="About" class="columns">
		<div class="column is-1 is-hidden-mobile"></div>
		<div class="column is-10">
			<app-about [objectTime]="valueTime" [isTimeService]="isTimeService"></app-about>
		</div>
		<div class="column is-1"></div>
	</div>
	<hr>
	<div id="Skills" class="columns">
		<div class="column is-1 is-hidden-mobile"></div>
		<div class="column is-10">
			<app-skills></app-skills>
		</div>
		<div class="column is-1"></div>
	</div>
	<hr>
	<div id="Activities" class="columns">
		<div class="column is-1 is-hidden-mobile"></div>
		<div class="column is-10">
			<app-activities></app-activities>				
		</div>
		<div class="column is-1"></div>
	</div>
	<hr>
	<div id="Achievements" class="columns">
		<div class="column is-1 is-hidden-mobile"></div>
		<div class="column is-10">
			<app-achievements></app-achievements>
			</div>
		<div class="column is-1"></div>
	</div>
	<hr>
	<div id="Volunteered" class="columns">
		<div class="column is-1 is-hidden-mobile"></div>
		<div class="column is-10">
			<app-volunteered></app-volunteered>				
		</div>
		<div class="column is-1"></div>
	</div>
	<hr>
	<div id="Contact" class="columns">
		<div class="column is-1 is-hidden-mobile"></div>
		<div class="column is-10">
			<app-contact></app-contact>
		</div>
		<div class="column is-1 is-hidden-mobile"></div>
	</div>
</div>