<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<nav class="navbar navbar-light bg-faded">
	<ul class="nav navbar-nav text-center">
		<li class="nav-item active">
			<a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#About"><i class="fa fa-id-badge" aria-hidden="true"></i> About </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#Skills"><i class="fa fa-sitemap" aria-hidden="true"></i> Skills </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#Achievements"><i class="fa fa-trophy" aria-hidden="true"></i> Achievements </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#Volunteered"><i class="fa fa-heart" aria-hidden="true"></i> Volunteered </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#Activities"><i class="fa fa-suitcase" aria-hidden="true"></i> Activities </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#Contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact </a>
		</li>
	</ul>
</nav>
		
	</div>
	<div class="col-md-2"></div>
</div>