<nav class="nav has-shadow is-hidden-mobile">
	<div class="container">
		<div class="nav-center">
			<img class="height100" src="/assets/images/logo/logo_portfolio.png">
		</div>
	</div>
</nav>
<nav class="nav has-shadow is-hidden-mobile">
	<div class="container">
		<div class="nav-center">
			<a class="nav-item is-tab" href="#About"><i class="fa fa-id-badge" aria-hidden="true"></i>&nbsp;About&nbsp;</a>
			<a class="nav-item is-tab" href="#Skills"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Skills&nbsp;</a>
			<a class="nav-item is-tab" href="#Activities"><i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;Activities&nbsp;</a>			
			<a class="nav-item is-tab" href="#Achievements"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;Achievements Gallery&nbsp;</a>
			<a class="nav-item is-tab" href="#Volunteered"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Volunteered Gallery&nbsp;</a>
			<a class="nav-item is-tab" href="#Contact"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact&nbsp;</a>
		</div>
	</div>
</nav>
<nav class="nav has-shadow is-hidden-tablet" style="background-color:#1b2c3d;">
	<div class="container">
		<div class="nav-center">
			<a class="nav-item is-tab" href="#About"><i class="fa fa-id-badge colord2d7db" aria-hidden="true"></i></a>
			<a class="nav-item is-tab" href="#Skills"><i class="fa fa-sitemap colord2d7db" aria-hidden="true"></i></a>
			<a class="nav-item is-tab" href="#Activities"><i class="fa fa-suitcase colord2d7db" aria-hidden="true"></i></a>			
			<a class="nav-item is-tab" href="#Achievements"><i class="fa fa-trophy colord2d7db" aria-hidden="true"></i></a>
			<a class="nav-item is-tab" href="#Volunteered"><i class="fa fa-heart colord2d7db" aria-hidden="true"></i></a>
			<a class="nav-item is-tab" href="#Contact"><i class="fa fa-envelope colord2d7db" aria-hidden="true"></i></a>
		</div>
	</div>
</nav>