<div id="Activities" class="col-md-12" style="padding-top:2em;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	</div>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12">
	<h3 class="text-center">
		<i class="fa fa-suitcase" aria-hidden="true"></i> <b>Photo Gallery Activities</b>
	</h3>
	<div class="col-md-12">
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/01.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/02.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/03.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/04.jpg" style="width:100%;">
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/05.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/06.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/07.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/08.jpg" style="width:100%;">
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/09.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/10.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/11.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/13.jpg" style="width:100%;">
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/12.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/14.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/15.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/16.jpg" style="width:100%;">
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/17.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/18.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/19.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/20.jpg" style="width:100%;">
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/21.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/22.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/23.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/24.jpg" style="width:100%;">
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/25.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/26.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/27.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/28.jpg" style="width:100%;">
			</div>
		</div>
		<div class="col-md-12" style="margin-bottom:0.5em;">
			<div class="col-md-3">
				<img src="assets/images/activities/29.jpg" style="width:100%;">
			</div>
			<div class="col-md-3">
				<img src="assets/images/activities/30.jpg" style="width:100%;">
			</div>
		</div>
	</div>
</div>