<div id="Skills" class="col-md-12" style="padding-top:2em;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3 class="text-center">
			<i class="fa fa-sitemap" aria-hidden="true"></i> <b>Skils</b>
		</h3>
		<div class="col-md-12">
			<div class="col-md-12">
				<p>
					<b>Programming languages:</b><br>
					PHP, HTML, CSS, JS, TypeScript, XML/JSON, C#, C/C++, VB, VBA, Python, Swift, and Java
				</p>				
			</div>
			<div class="col-md-12">
				<p>
					<b>Operating Systems:</b><br>
					Windows 8.1/10, Mac O/S, Raspberry Pi, Ubuntu and Kali Linux
				</p>	
			</div>
			<div class="col-md-12">
				<p>
					<b>Application:</b><br>
					Microsoft Office, Microsoft Azure, Photoshop, Illustrator, 3ds Max, Firebase Google, Matlab, Android Studio, Xcode and GitHub
				</p>
			</div>
			<div class="col-md-12">
				<p>
					<b>Framework:</b><br>
					Laravel5.3, Zend1.1, Angular2, Ionic2, Phalcon, Yii2 and ASP.NET
				</p>
			</div>
			<div class="col-md-12">
				<p>
					<b>Languages:</b><br>
					English and Thai
				</p>
			</div>
			<div class="col-md-12">
				<p>
					<b>Software Development Process:</b><br>
					Waterfall Model, Spiral Model and Agile Model
				</p>
			</div>
			<div class="col-md-12">
				<p>
					<b>Documents:</b><br>
					Software Requirements Specification, Software User Documentation and User Manual
				</p>
			</div>
			<div class="col-md-12">
				<p>
					<b>Other Things:</b><br>
					Machine learning, Image Processing, AJAX, Web API, OOP, Marketing, People Management etc.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
