<div id="Achievements" class="col-md-12" style="padding-top:2em;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3 class="text-center">
			<i class="fa fa-trophy" aria-hidden="true"></i> <b>Activities</b>
		</h3>
		<div class="col-md-12">
			<p>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Volunteered painted and growing vegetables in houseboat school, during 12th-14th August 2016
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in workshop of LabVIEW embedded for raspberry pi, during 9th-10th June 2016
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in workshop of implementing VMware vSphere ESXi 6.0, 5th June 2016
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in workshop of LabVIEW for IOT, 3rd June 2016
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in workshop of windows server 2012 R2 administrator, 15th January 2016
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Volunteered help and organizing leisure time activities in children day for children in mountain, during 31st December 2015 – 2nd January 2016
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in the contest creative new media to disseminate research TRF, to a new generation (The Honorable mention award), 24th August 2015
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in workshop of the creation of new media, to promote research by The Thailand research fund, during 21st -24th August 2015
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in the hour of code by Microsoft student partners Thailand at Chulalongkorn University, 15th August 2015
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in workshop of UI/UX patterns for mobile application, 10th August 2015
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in workshop of The Google Ignite by Google Thailand, in year 2015
				<br>
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Participated in 2015 IYF World Culture Camp Thailand, during 1st-4th February 2015				
			</p>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="col-md-12">
	<h4 class="text-center">
		<i class="fa fa-book" aria-hidden="true"></i> <b>Photo Gallery Achievements</b>
	</h4>
	<div class="col-md-12" style="margin-bottom:0.5em;">
		<div class="col-md-3">
			<img src="assets/images/achievements/01.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Check object by Raspberry Pi 3
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/02.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Photo Arduino on Cloud
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/03.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Create Excel by PHP
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/04.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Highcharts and Show Highcharts of XML by PHP
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom:0.5em;">
		<div class="col-md-3">
			<img src="assets/images/achievements/05.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				VBA in Excel
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/06.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Shop Online by PHP in Laravel 5.3 Framework
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/07.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Program ASE by VB <br>
				<a href="assets/documents/ASE.pdf" target="_blank">Document</a> 
				<a href="https://youtu.be/tAyZ3mNOszA" target="_blank">Preview Clip</a>
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/08.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Web Application on Microsoft Azure
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom:0.5em;">
		<div class="col-md-3">
			<img src="assets/images/achievements/09.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Website of SW Tech & Media Company Limited
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/10.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Website of Brilliant Systems Company Limited
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/11.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
			Make Website CMS By Moodle
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/12.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
			Make Website CMS By SMF
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom:0.5em;">
		<div class="col-md-3">
			<img src="assets/images/achievements/13.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Application Mobile by Ionic Framework
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/14.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Blogger By Blogger Google
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/15.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
			Seed Shop by PHP in Laravel 5.2 Framework
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/16.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
			Food TU by PHP in Laravel 5.2 Framework
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom:0.5em;">
		<div class="col-md-3">
			<img src="assets/images/achievements/17.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Website CMS By WordPress
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/18.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Make Game Snake By java
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/019.png" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
			Application Thaiton on iOS (Run on Simulator) by Swift3 
			<a href="https://thaitone-ios.firebaseapp.com" target="_blank">Demo</a>
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/achievements/20.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
			Make Website Education News by Angular2 and Firebase
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom:0.5em;">
		<div class="col-md-3">
			<img src="assets/images/coming_soon.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:1.2em;padding-top:1.2em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Developing Image Processing
			</div>
		</div>
		<div class="col-md-3">
			<img src="assets/images/coming_soon.jpg" style="width:100%;">
			<div style="width:100%;background:#e8ebed;padding-bottom:0.5em;padding-top:0.5em;padding-left:0.5em;padding-right:0.5em;" class="text-center">
				Developing Systems for Education
			</div>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">

		</div>
	</div>
</div>
