<div id="Home">
	<div class="is-hidden-tablet background-color-pn" style="padding-bottom:2em;padding-top:2em;">
		<div class="columns is-mobile">
			<div class="column is-3"></div>
			<div class="column is-6"><img class="width100" src="/assets/images/logo/logo-mobile.png"></div>
			<div class="column is-3"></div>
		</div>
		<div class="columns is-mobile">
			<div class="column is-1"></div>
			<div class="column is-10">
				<p class="title has-text-centered colorfff">{{titleHome}}</p>
				<p class="subtitle has-text-centered colorfff">{{subTitleHome}}</p>
			</div>
			<div class="column is-1"></div>
		</div>
		<div class="columns is-mobile box-card-pn">
			<div class="column is-3"></div>
			<div class="column is-6"><img class="width100" src="/assets/images/qrcode/qr_code_web.jpg"></div>
			<div class="column is-3"></div>
		</div>
	</div>
	<div class="container is-hidden-mobile">
		<div class="columns">
			<div class="column is-2"></div>
			<div class="column is-8">
				<div class="columns">
					<div class="column is-4">
						<div class="card-pn">
							<div class="faces front">
								<img class="img-portfolio" src="assets/images/home/home-photo-pn1.jpg">
							</div>			
							<div class="faces back">
								<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
							</div>
						</div>
						</div>
					<div class="column is-4">
						<div class="card-pn">
							<div class="faces front">
								<img class="img-portfolio" src="assets/images/home/home-photo-pn2.jpg">
							</div>			
							<div class="faces back">
								<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card-pn">
							<div class="faces front">
								<img class="img-portfolio" src="assets/images/home/home-photo-pn3.jpg">
							</div>			
							<div class="faces back">
								<img class="img-portfolio" src="assets/images/home/home-photo-pn0.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-2"></div>
		</div>
	</div>
	<div class="box-card-pn is-hidden-mobile">
		<h2 class="title has-text-centered"><b>{{titleHome}}</b></h2>
		<h4 class="subtitle has-text-centered">{{subTitleHome}}</h4>
	</div>
</div>