<p class="title mt-top05 has-text-centered">
  <b><i class="fa fa-trophy" aria-hidden="true"></i> Achievements Gallery</b>
</p>
<table class="container widthTable100 is-hidden-mobile">
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>                
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/01.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-1" (mouseover)="actionImageOverHeartbeatAG('AG-1')" (mouseout)="actionImageOutHeartbeatAG('AG-1')" class="width100 imgOpacity1" src="assets/images/achievements/01.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Check object by Raspberry Pi 3</i></p>              
          </td>
        <td class="widthTable1-125"></td>            
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/02.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-2" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-2')" (mouseout)="actionImageOutHeartbeatAG('AG-2')" src="assets/images/achievements/02.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Photo Arduino on Cloud</i></p>              
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/03.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-3" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-3')" (mouseout)="actionImageOutHeartbeatAG('AG-3')" src="assets/images/achievements/03.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Create Excel by PHP</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/04.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-4" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-4')" (mouseout)="actionImageOutHeartbeatAG('AG-4')" src="assets/images/achievements/04.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Highcharts,XML by PHP</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/05.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-5" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-5')" (mouseout)="actionImageOutHeartbeatAG('AG-5')" src="assets/images/achievements/05.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>VBA in Excel</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/06.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-6" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-6')" (mouseout)="actionImageOutHeartbeatAG('AG-6')" src="assets/images/achievements/06.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Shop Online by PHP in Laravel 5.3</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/07.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-7" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-7')" (mouseout)="actionImageOutHeartbeatAG('AG-7')" src="assets/images/achievements/07.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Program ASE by VB</i></p> 
          </td>
        <td class="widthTable1-125"></td>
    </tr>
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>                
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/08.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-8" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-8')" (mouseout)="actionImageOutHeartbeatAG('AG-8')" src="assets/images/achievements/08.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Web Application on Microsoft Azure</i></p> 
          </td>
        <td class="widthTable1-125"></td>            
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/09.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-9" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-9')" (mouseout)="actionImageOutHeartbeatAG('AG-9')" src="assets/images/achievements/09.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Multithreaded and Open Port on App Chat</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/10.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-10" class="width100 imgOpacity1"(mouseover)="actionImageOverHeartbeatAG('AG-10')" (mouseout)="actionImageOutHeartbeatAG('AG-10')"  src="assets/images/achievements/10.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make PWA on Website by Angular | <a href="https://gz-it-a8b2c.firebaseapp.com" target="_blank">Demo</a></i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/11.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-11" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-11')" (mouseout)="actionImageOutHeartbeatAG('AG-11')" src="assets/images/achievements/11.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Website CMS By Moodle</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/12.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-12" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-12')" (mouseout)="actionImageOutHeartbeatAG('AG-12')" src="assets/images/achievements/12.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Website CMS By SMF</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/13.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-13" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-13')" (mouseout)="actionImageOutHeartbeatAG('AG-13')" src="assets/images/achievements/13.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Application Mobile by Ionic</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/14.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-14" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-14')" (mouseout)="actionImageOutHeartbeatAG('AG-14')" src="assets/images/achievements/14.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Blogger By Blogger Google</i></p> 
          </td>
        <td class="widthTable1-125"></td>
    </tr>
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>                
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/15.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-15" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-15')" (mouseout)="actionImageOutHeartbeatAG('AG-15')" src="assets/images/achievements/15.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Seed Shop by PHP in Laravel 5.2</i></p> 
          </td>
        <td class="widthTable1-125"></td>            
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/16.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-16" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-16')" (mouseout)="actionImageOutHeartbeatAG('AG-16')" src="assets/images/achievements/16.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Food TU by PHP in Laravel 5.2</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/17.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-17" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-17')" (mouseout)="actionImageOutHeartbeatAG('AG-17')" src="assets/images/achievements/17.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Website CMS By WordPress</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/18.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-18" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-18')" (mouseout)="actionImageOutHeartbeatAG('AG-18')" src="assets/images/achievements/18.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Game Snake By java</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/19.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-19" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-19')" (mouseout)="actionImageOutHeartbeatAG('AG-19')" src="assets/images/achievements/19.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Application Thaiton on iOS (Simulator) | <a href="https://thaitone-ios.firebaseapp.com" target="_blank">Demo</a></i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/20.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-20" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-20')" (mouseout)="actionImageOutHeartbeatAG('AG-20')" src="assets/images/achievements/20.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Make Website Education News by Angular2 and Firebase</i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/21.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-21" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-21')" (mouseout)="actionImageOutHeartbeatAG('AG-21')" src="assets/images/achievements/21.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Web Application on Lean Startup Thailand | <a href="https://startup-cento.com" target="_blank">Demo</a></i></p> 
          </td>
          <td class="widthTable1-125"></td>
    </tr>
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>                
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/22.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-22" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-22')" (mouseout)="actionImageOutHeartbeatAG('AG-22')" src="assets/images/achievements/22.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>Trading Mean Reversion by Amibroker</i></p> 
          </td>
        <td class="widthTable1-125"></td>            
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/23.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-23" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-23')" (mouseout)="actionImageOutHeartbeatAG('AG-23')" src="assets/images/achievements/23.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>ChatBot Bitcoin | <a href="https://line.me/ti/p/~pwl3938o" target="_blank">Demo</a></i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13 has-text-centered">
            <a href="assets/images/achievements/24.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-24" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-24')" (mouseout)="actionImageOutHeartbeatAG('AG-24')" src="assets/images/achievements/24.jpg"></a>
            <p class="font-size075 bm-bottom1"><i>ChatBot Ethereum | <a href="https://line.me/ti/p/~fse4620k" target="_blank">Demo</a></i></p> 
          </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
          <td class="widthTable1-125"></td>
    </tr>
</table>
<table class="container widthTable100 is-hidden-tablet">
    <tr class="widthTable100">
        <td class="widthTable1"></td>                
        <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/01.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M1" (mouseover)="actionImageOverHeartbeatAG('AG-M1')" (mouseout)="actionImageOutHeartbeatAG('AG-M1')" class="width100 imgOpacity1" src="assets/images/achievements/01.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Check object by Raspberry Pi 3</i></p>              
          </td>
          <td class="widthTable1"></td>                
          <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/02.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M2" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M2')" (mouseout)="actionImageOutHeartbeatAG('AG-M2')" src="assets/images/achievements/02.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Photo Arduino on Cloud</i></p>              
          </td>
          <td class="widthTable1"></td>                
          <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/03.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M3" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M3')" (mouseout)="actionImageOutHeartbeatAG('AG-M3')" src="assets/images/achievements/03.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Make Create Excel by PHP</i></p> 
          </td>
          <td class="widthTable1"></td>                
          <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/04.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M4" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M4')" (mouseout)="actionImageOutHeartbeatAG('AG-M4')" src="assets/images/achievements/04.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Make Highcharts,XML by PHP</i></p> 
          </td>
          <td class="widthTable1"></td>                
          <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/05.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M5" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M5')" (mouseout)="actionImageOutHeartbeatAG('AG-M5')" src="assets/images/achievements/05.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>VBA in Excel</i></p> 
          </td>
          <td class="widthTable1"></td>
    </tr>
    <tr class="widthTable100">
        <td class="widthTable1"></td>    
        <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/06.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M6" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M6')" (mouseout)="actionImageOutHeartbeatAG('AG-M6')" src="assets/images/achievements/06.jpg"></a>
              <p class="font-size05 bm-bottom1"><i>Shop Online by PHP in Laravel 5.3</i></p> 
            </td>
        <td class="widthTable1"></td>    
        <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/07.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M7" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M7')" (mouseout)="actionImageOutHeartbeatAG('AG-M7')" src="assets/images/achievements/07.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Program ASE by VB</i></p> 
        </td>
        <td class="widthTable1"></td>
        <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/08.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M8" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M8')" (mouseout)="actionImageOutHeartbeatAG('AG-M8')" src="assets/images/achievements/08.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Web Application on Microsoft Azure</i></p> 
          </td>
          <td class="widthTable1"></td>    
          <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/09.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M9" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M9')" (mouseout)="actionImageOutHeartbeatAG('AG-M9')" src="assets/images/achievements/09.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Make Multithreaded and Open Port on App Chat</i></p> 
          </td>
          <td class="widthTable1"></td>    
          <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/10.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M10" class="width100 imgOpacity1"(mouseover)="actionImageOverHeartbeatAG('AG-M10')" (mouseout)="actionImageOutHeartbeatAG('AG-M10')"  src="assets/images/achievements/10.jpg"></a>
            <p class="font-size05 bm-bottom1"><i>Make PWA on Website by Angular | <a href="https://gz-it-a8b2c.firebaseapp.com" target="_blank">Demo</a></i></p> 
          </td>
          <td class="widthTable1"></td>                
    </tr>
    <tr class="widthTable100">
        <td class="widthTable1"></td>    
        <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/11.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M11" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M11')" (mouseout)="actionImageOutHeartbeatAG('AG-M11')" src="assets/images/achievements/11.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Make Website CMS By Moodle</i></p> 
        </td>
        <td class="widthTable1"></td>    
        <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/12.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M12" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M12')" (mouseout)="actionImageOutHeartbeatAG('AG-M12')" src="assets/images/achievements/12.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Make Website CMS By SMF</i></p> 
        </td>
        <td class="widthTable1"></td>    
        <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/13.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M13" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M13')" (mouseout)="actionImageOutHeartbeatAG('AG-M13')" src="assets/images/achievements/13.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Make Application Mobile by Ionic</i></p> 
        </td>
        <td class="widthTable1"></td>    
        <td class="widthTable18-8 has-text-centered">
            <a href="assets/images/achievements/14.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M14" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M14')" (mouseout)="actionImageOutHeartbeatAG('AG-M14')" src="assets/images/achievements/14.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Make Blogger By Blogger Google</i></p> 
      </td>
      <td class="widthTable1"></td>
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/15.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M15" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M15')" (mouseout)="actionImageOutHeartbeatAG('AG-M15')" src="assets/images/achievements/15.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Seed Shop by PHP in Laravel 5.2</i></p> 
        </td>
        <td class="widthTable1"></td>          
    </tr>
    <tr class="widthTable100">
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/16.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M16" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M16')" (mouseout)="actionImageOutHeartbeatAG('AG-M16')" src="assets/images/achievements/16.jpg"></a>
        <p class="font-size05 bm-bottom1"><i>Food TU by PHP in Laravel 5.2</i></p> 
      </td>
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/17.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M17" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M17')" (mouseout)="actionImageOutHeartbeatAG('AG-M17')" src="assets/images/achievements/17.jpg"></a>
        <p class="font-size05 bm-bottom1"><i>Make Website CMS By WordPress</i></p> 
      </td>
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/18.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M18" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M18')" (mouseout)="actionImageOutHeartbeatAG('AG-M18')" src="assets/images/achievements/18.jpg"></a>
        <p class="font-size05 bm-bottom1"><i>Make Game Snake By java</i></p> 
      </td>
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/19.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M19" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M19')" (mouseout)="actionImageOutHeartbeatAG('AG-M19')" src="assets/images/achievements/19.jpg"></a>
        <p class="font-size05 bm-bottom1"><i>Application Thaiton on iOS (Simulator) | <a href="https://thaitone-ios.firebaseapp.com" target="_blank">Demo</a></i></p> 
      </td>
      <td class="widthTable1"></td>
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/20.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M20" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M20')" (mouseout)="actionImageOutHeartbeatAG('AG-M20')" src="assets/images/achievements/20.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Make Website Education News by Angular2 and Firebase</i></p> 
      </td>
      <td class="widthTable1"></td>
    </tr>
    <tr class="widthTable100">
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/21.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M21" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M21')" (mouseout)="actionImageOutHeartbeatAG('AG-M21')" src="assets/images/achievements/21.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>Web Application on Lean Startup Thailand | <a href="https://startup-cento.com" target="_blank">Demo</a></i></p> 
      </td>
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/22.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M22" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M22')" (mouseout)="actionImageOutHeartbeatAG('AG-M22')" src="assets/images/achievements/22.jpg"></a>
        <p class="font-size05 bm-bottom1"><i>Trading Mean Reversion by Amibroker</i></p> 
      </td>
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/23.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M23" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M23')" (mouseout)="actionImageOutHeartbeatAG('AG-M23')" src="assets/images/achievements/23.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>ChatBot Bitcoin | <a href="https://line.me/ti/p/~pwl3938o" target="_blank">Demo</a></i></p> 
      </td>
      <td class="widthTable1"></td>                
      <td class="widthTable18-8 has-text-centered">
          <a href="assets/images/achievements/24.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="AG-M24" class="width100 imgOpacity1" (mouseover)="actionImageOverHeartbeatAG('AG-M24')" (mouseout)="actionImageOutHeartbeatAG('AG-M24')" src="assets/images/achievements/24.jpg"></a>
          <p class="font-size05 bm-bottom1"><i>ChatBot Ethereum | <a href="https://line.me/ti/p/~fse4620k" target="_blank">Demo</a></i></p> 
      </td>
      <td class="widthTable1"></td>
      <td class="widthTable18-8"></td>
      <td class="widthTable1"></td>
    </tr>
</table>
