<p class="title has-text-centered mt-top05">
<b><i class="fa fa-sitemap" aria-hidden="true"></i> Skils</b>
</p>
<div class="is-hidden-mobile">
<p class="title is-5 has-text-centered">
    <b>Programming Languages</b>
</p>
<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
    <table class="container widthTable100">
        <tr class="widthTable100">
            <td class="widthTable1"></td>
            <td id="PL1" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL1')">
            <img class="width100" src="assets/images/skils/programming-languages/logo-css.png">
            <p class="font-size09"><i>CSS</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL2" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL2')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-html.png">
                <p class="font-size09"><i>HTML</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL3" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL3')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-cc.png">
                <p class="font-size09"><i>C#</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL4" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('PL4')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-php.png">
                <p class="font-size09"><i>PHP</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL5" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('PL5')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-js.png">
                <p class="font-size09"><i>Javascript</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL6" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('PL6')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-java.png">
                <p class="font-size09"><i>Java</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL7" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL7')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-ts.png">
                <p class="font-size09"><i>TypeScript</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL8" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL8')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-vba.png">
                <p class="font-size09"><i>VBA</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL9" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL9')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-vb.png">
                <p class="font-size09"><i>VB</i></p>
            </td>
            <td class="widthTable1"></td>
        </tr>
        </table>
        <br>
        <table>
        <tr class="widthTable100">
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td id="PL10" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL10')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-python.png">
                <p class="font-size09"><i>Python</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL11" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL11')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-swift.png">
                <p class="font-size09"><i>Swift</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="PL12" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('PL12')">
                <img class="width100" src="assets/images/skils/programming-languages/logo-ccc.png">
                <p class="font-size09"><i>C/C++</i></p>
            </td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
        </tr>
        </table>
    </div>
    <div class="column is-1"></div>
</div>
<hr>
<p class="title is-5 has-text-centered">
    <b>Operating Systems</b>
</p>
<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
    <table class="container widthTable100">
        <tr class="widthTable100">
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td id="OS1" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('OS1')">
                <img class="width100" src="assets/images/skils/operating-systems/logo-ubuntu.png">
                <p class="font-size09"><i>Ubuntu</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="OS2" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('OS2')">
                <img class="width100" src="assets/images/skils/operating-systems/logo-mac.png">
                <p class="font-size09"><i>macOS</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="OS3" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('OS3')">
                <img class="width100" src="assets/images/skils/operating-systems/logo-windows.png">
                <p class="font-size09"><i>Windows</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="OS4" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('OS4')">
                <img class="width100" src="assets/images/skils/operating-systems/logo-kali.png">
                <p class="font-size09"><i>Kali Linux</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="OS5" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('OS5')">
                <img class="width100" src="assets/images/skils/operating-systems/logo-raspberry-pi.png">
                <p class="font-size09"><i>Raspberry Pi</i></p>
            </td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
        </tr>
        </table>
    </div>
    <div class="column is-1"></div>
</div>
<hr>
<p class="title is-5 has-text-centered">
    <b>Application</b>
</p>
<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
    <table class="container widthTable100">
        <tr class="widthTable100">
            <td class="widthTable1"></td>
            <td id="A1" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A1')">
                <img class="width100" src="assets/images/skils/application/logo-unity.png">
                <p class="font-size09 mt-top05"><i>Unity</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A2" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A2')">
                <img class="width100" src="assets/images/skils/application/logo-visual-studio.png">
                <p class="font-size09"><i>Visual<br>Studio</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A3" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A3')">
                <img class="width100" src="assets/images/skils/application/logo-google-adword.png">
                <p class="font-size09"><i>Google Adwords</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A4" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('A4')">
                <img class="width100" src="assets/images/skils/application/logo-android-studio.png">
                <p class="font-size09"><i>Android<br>Studio</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A5" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('A5')">
                <img class="width100" src="assets/images/skils/application/logo-github.png">
                <p class="font-size09 mt-top05"><i>Github</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A6" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('A6')">
                <img class="width100" src="assets/images/skils/application/logo-firebase.png">
                <p class="font-size09 mt-top05"><i>Firebase</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A7" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A7')">
                <img class="width100" src="assets/images/skils/application/logo-google-cloud.png">
                <p class="font-size09"><i>Cloud<br>Platform</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A8" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A8')">
                <img class="width100" src="assets/images/skils/application/logo-microsoft-azure.png">
                <p class="font-size09"><i>Microsoft Azure</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A9" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A9')">
                <img class="width100" src="assets/images/skils/application/logo-line.png">
                <p class="font-size09 mt-top05"><i>LINE@</i></p>
            </td>
            <td class="widthTable1"></td>
        </tr>
        </table>
        <br>
    <table class="container widthTable100">
        <tr class="widthTable100">
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
            <td id="A10" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A10')">
                <img class="width100" src="assets/images/skils/application/logo-matlab.png">
                <p class="font-size09 mt-top05"><i>Matlab</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A11" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A11')">
                <img class="width100" src="assets/images/skils/application/logo-xcode.png">
                <p class="font-size09 mt-top05"><i>Xcode</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A12" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A12')">
                <img class="width100" src="assets/images/skils/application/logo-3dmax.png">
                <p class="font-size09 mt-top05"><i>3ds Max</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A13" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A13')">
                <img class="width100" src="assets/images/skils/application/logo-node-js.png">
                <p class="font-size09 mt-top05"><i>Node.js</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A14" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A14')">
                <img class="width100" src="assets/images/skils/application/logo-amibroker.png">
                <p class="font-size09 mt-top05"><i>AmiBroker</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A15" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A15')">
                <img class="width100" src="assets/images/skils/application/logo-ps.png">
                <p class="font-size09"><i>Adobe Photoshop</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="A16" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('A16')">
                <img class="width100" src="assets/images/skils/application/logo-ai.png">
                <p class="font-size09"><i>Adobe Illustrator</i></p>
            </td>
            <td class="widthTable1"></td>
            <td class="widthTable10"></td>
            <td class="widthTable1"></td>
        </tr>
        </table>
    </div>
    <div class="column is-1"></div>
</div>
<hr>
<p class="title is-5 has-text-centered">
    <b>Framework</b>
</p>
<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
    <table class="container widthTable100">
        <tr class="widthTable100">
            <td class="widthTable1"></td>
            <td id="F1" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('F1')">
                <img class="width100" src="assets/images/skils/framework/logo-ionic2.png">
                <p class="font-size09"><i>Ionic2</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F2" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('F2')">
                <img class="width100" src="assets/images/skils/framework/logo-zend-framework.png">
                <p class="font-size09"><i>Zend1</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F3" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('F3')">
                <img class="width100" src="assets/images/skils/framework/logo-phalcon.png">
                <p class="font-size09"><i>Phalcon</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F4" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('F4')">
                <img class="width100" src="assets/images/skils/framework/logo-codeIgniter.png">
                <p class="font-size09"><i>Codeigniter</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F5" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('F5')">
                <img class="width100" src="assets/images/skils/framework/logo-angular.png">
                <p class="font-size09"><i>Angular</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F6" class="widthTable10 has-text-centered card skils-top" (mouseover)="actionImageOverTick('F6')">
                <img class="width100" src="assets/images/skils/framework/logo-laravel.png">
                <p class="font-size09"><i>Laravel</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F7" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('F7')">
                <img class="width100" src="assets/images/skils/framework/logo-yii2.png">
                <p class="font-size09"><i>Yii</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F8" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('F8')">
                <img class="width100" src="assets/images/skils/framework/logo-wordpress.png">
                <p class="font-size09"><i>WordPress</i></p>
            </td>
            <td class="widthTable1"></td>
            <td id="F9" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('F9')">
                <img class="width100" src="assets/images/skils/framework/logo-asp-net.png">
                <p class="font-size09"><i>ASP.NET</i></p>
            </td>
            <td class="widthTable1"></td>
        </tr>
        </table>
    </div>
    <div class="column is-1"></div>
</div>
<hr>
<p class="title is-5 has-text-centered">
    <b>Languages</b>
</p>
<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
    <table class="container widthTable100">
        <tr class="widthTable100">
            <td class="widthTable39"></td>
            <td id="L1" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('L1')">
                <img class="width100" src="assets/images/skils/languages/logo-th.png">
                <p class="font-size09"><i>Thai</i></p>
            </td>
            <td class="widthTable2"></td>
            <td id="L2" class="widthTable10 has-text-centered card" (mouseover)="actionImageOverTick('L2')">
                <img class="width100" src="assets/images/skils/languages/logo-en.png">
                <p class="font-size09"><i>English</i></p>
            </td>
            <td class="widthTable39"></td>
        </tr>
        </table>
    </div>
    <div class="column is-1"></div>
</div>
</div>
<div class="is-hidden-tablet">
<p class="title is-5 has-text-centered">
    <b>Programming Languages</b>
</p>
<table class="container widthTable100">
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>
        <td id="PL-M1" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M1')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-css.png">
            <p class="font-size075"><i>CSS</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M2" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M2')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-html.png">
            <p class="font-size075"><i>HTML</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M3" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('PL-M3')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-php.png">
            <p class="font-size075"><i>PHP</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M4" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('PL-M4')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-js.png">
            <p class="font-size075"><i>Javascript</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M5" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('PL-M5')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-java.png">
            <p class="font-size075"><i>Java</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M6" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M6')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-ts.png">
            <p class="font-size075"><i>TypeScript</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M7" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M7')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-vba.png">
            <p class="font-size075"><i>VBA</i></p>
        </td>
        <td class="widthTable1-125"></td>
    </tr>
</table>
<br>
<table class="container widthTable100">
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
        <td class="widthTable1-125"></td>
        <td id="PL-M8" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M8')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-cc.png">
            <p class="font-size075"><i>C#</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M9" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M9')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-python.png">
            <p class="font-size075"><i>Python</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M10" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M10')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-swift.png">
            <p class="font-size075"><i>Swift</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M11" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M11')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-ccc.png">
            <p class="font-size075"><i>C/C++</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="PL-M12" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('PL-M12')">
            <img class="height50px" src="assets/images/skils/programming-languages/logo-vb.png">
            <p class="font-size075"><i>VB</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
        <td class="widthTable1-125"></td>
    </tr>
</table>
<hr>
<p class="title is-5 has-text-centered">
    <b>Operating Systems</b>
</p>
<table class="container widthTable100">
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
        <td class="widthTable1-125"></td>
        <td id="OS-M1" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('OS-M1')">
            <img class="height50px" src="assets/images/skils/operating-systems/logo-ubuntu.png">
            <p class="font-size075 mt-top05"><i>Ubuntu</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="OS-M2" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('OS-M2')">
            <img class="height50px" src="assets/images/skils/operating-systems/logo-mac.png">
            <p class="font-size075 mt-top05"><i>macOS</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="OS-M3" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('OS-M3')">
            <img class="height50px" src="assets/images/skils/operating-systems/logo-windows.png">
            <p class="font-size075 mt-top05"><i>Windows</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="OS-M4" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('OS-M4')">
            <img class="height50px" src="assets/images/skils/operating-systems/logo-kali.png">
            <p class="font-size075"><i>Kali<br>Linux</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="OS-M5" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('OS-M5')">
            <img class="height50px" src="assets/images/skils/operating-systems/logo-raspberry-pi.png">
            <p class="font-size075"><i>Raspberry<br>Pi</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td class="widthTable13"></td>
        <td class="widthTable1-125"></td>
    </tr>
</table>
<hr>
<p class="title is-5 has-text-centered">
    <b>Application</b>
</p>
<table class="container widthTable100">
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>                
        <td id="A-M1" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M1')">
                <img class="height50px" src="assets/images/skils/application/logo-visual-studio.png">
            <p class="font-size075"><i>Visual<br>Studio</i></p>
        </td>
        <td class="widthTable1-125"></td>            
        <td id="A-M2" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M2')">
            <img class="height50px" src="assets/images/skils/application/logo-google-adword.png">
            <p class="font-size075"><i>Google Adwords</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M3" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('A-M3')">
            <img class="height50px" src="assets/images/skils/application/logo-android-studio.png">
            <p class="font-size075"><i>Android<br>Studio</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M4" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('A-M4')">
            <img class="height50px" src="assets/images/skils/application/logo-github.png">
            <p class="font-size075 mt-top05"><i>Github</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M5" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('A-M5')">
            <img class="height50px" src="assets/images/skils/application/logo-firebase.png">
            <p class="font-size075 mt-top05"><i>Firebase</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M6" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M6')">
            <img class="height50px" src="assets/images/skils/application/logo-google-cloud.png">
            <p class="font-size075"><i>Cloud<br>Platform</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M7" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M7')">
            <img class="height50px" src="assets/images/skils/application/logo-microsoft-azure.png">
            <p class="font-size075"><i>Microsoft Azure</i></p>
        </td>
        <td class="widthTable1-125"></td>
    </tr>
</table>
<br>
<table class="container widthTable100">
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>                
        <td id="A-M8" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M8')">
            <img class="height50px" src="assets/images/skils/application/logo-matlab.png">
            <p class="font-size075 mt-top05"><i>Matlab</i></p>
        </td>
        <td class="widthTable1-125"></td>            
        <td id="A-M9" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M9')">
            <img class="height50px" src="assets/images/skils/application/logo-xcode.png">
            <p class="font-size075 mt-top05"><i>Xcode</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M10" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M10')">
            <img class="height50px" src="assets/images/skils/application/logo-3dmax.png">
            <p class="font-size075"><i>3ds<br>Max</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M11" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M11')">
            <img class="height50px" src="assets/images/skils/application/logo-node-js.png">
            <p class="font-size075 mt-top05"><i>Node.js</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M12" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M12')">
            <img class="height50px" src="assets/images/skils/application/logo-amibroker.png">
            <p class="font-size075 mt-top05"><i>AmiBroker</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M13" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M13')">
            <img class="height50px" src="assets/images/skils/application/logo-ps.png">
            <p class="font-size075"><i>Adobe<br>Photoshop</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M14" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M14')">
            <img class="height50px" src="assets/images/skils/application/logo-ai.png">
            <p class="font-size075"><i>Adobe<br>Illustrator</i></p>
        </td>
        <td class="widthTable1-125"></td>
    </tr>
</table>
<br>
<table class="container widthTable100">
    <tr class="widthTable100">              
        <td class="widthTable36-4375"></td>
        <td id="A-M15" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M15')">
            <img class="height50px" src="assets/images/skils/application/logo-unity.png">
            <p class="font-size075"><i>Unity</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="A-M16" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('A-M16')">
            <img class="height50px" src="assets/images/skils/application/logo-line.png">
            <p class="font-size075"><i>LINE@</i></p>
        </td>
        <td class="widthTable36-4375"></td>            
    </tr>
</table>
<hr>
<p class="title is-5 has-text-centered">
    <b>Framework</b>
</p>
<table class="container widthTable100">
    <tr class="widthTable100">
        <td class="widthTable1-125"></td>                
        <td id="F-M1" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('F-M1')">
            <img class="height50px" src="assets/images/skils/framework/logo-zend-framework.png">
            <p class="font-size075"><i>Zend1</i></p>
        </td>
        <td class="widthTable1-125"></td>            
        <td id="F-M2" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('F-M2')">
            <img class="height50px" src="assets/images/skils/framework/logo-phalcon.png">
            <p class="font-size075"><i>Phalcon</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="F-M3" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('F-M3')">
            <img class="height50px" src="assets/images/skils/framework/logo-codeIgniter.png">
            <p class="font-size075"><i>Codeigniter</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="F-M4" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('F-M4')">
            <img class="height50px" src="assets/images/skils/framework/logo-angular.png">
            <p class="font-size075"><i>Angular</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="F-M5" class="widthTable13 has-text-centered card skils-top" (mouseover)="actionImageOverTick('F-M5')">
            <img class="height50px" src="assets/images/skils/framework/logo-laravel.png">
            <p class="font-size075"><i>Laravel</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="F-M6" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('F-M6')">
            <img class="height50px" src="assets/images/skils/framework/logo-yii2.png">
            <p class="font-size075"><i>Yii</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="F-M7" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('F-M7')">
            <img class="height50px" src="assets/images/skils/framework/logo-wordpress.png">
            <p class="font-size075"><i>WordPress</i></p>
        </td>
        <td class="widthTable1-125"></td>
    </tr>
</table>
<br>
<table class="container widthTable100">
    <tr class="widthTable100">              
        <td class="widthTable36-4375"></td>
        <td id="F-M8" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('F-M8')">
            <img class="height50px" src="assets/images/skils/framework/logo-ionic2.png">
            <p class="font-size075"><i>Ionic2</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="F-M9" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('F-M9')">
            <img class="height50px" src="assets/images/skils/framework/logo-asp-net.png">
            <p class="font-size075"><i>ASP.NET</i></p>
        </td>
        <td class="widthTable36-4375"></td>            
    </tr>
</table>
<hr>
<p class="title is-5 has-text-centered">
    <b>Languages</b>
</p>
<table class="container widthTable100">
    <tr class="widthTable100">              
        <td class="widthTable36-4375"></td>
        <td id="L-M1" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('L-M1')">
            <img class="height50px" src="assets/images/skils/languages/logo-th.png">
            <p class="font-size075"><i>Thai</i></p>
        </td>
        <td class="widthTable1-125"></td>
        <td id="L-M2" class="widthTable13 has-text-centered card" (mouseover)="actionImageOverTick('L-M2')">
            <img class="height50px" src="assets/images/skils/languages/logo-en.png">
            <p class="font-size075"><i>English</i></p>
        </td>
        <td class="widthTable36-4375"></td>            
    </tr>
</table>
</div>
<hr>
<div class="columns">
    <div class="column is-one-third has-text-centered card-other box-skils">
        <p class="title is-5 has-text-centered">
            <b>Software Development Process</b>
        </p>
        <table class="container widthTable100">
            <tr class="widthTable100 is-hidden-mobile">
                <td class="widthTable35"></td>
                <td class="widthTable30 has-text-centered">
                    <img class="width100" src="assets/images/skils/other/logo-software-development-process.png">
                </td>
                <td class="widthTable35"></td>
            </tr>
            <tr class="widthTable100 is-hidden-tablet">
                    <td class="widthTable40"></td>
                    <td class="widthTable20 has-text-centered">
                    <img class="width100" src="assets/images/skils/other/logo-software-development-process.png">
                </td>
                <td class="widthTable40"></td>
            </tr>
        </table>
        <table class="container widthTable100 mt-top2-5">
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="sdp1" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('sdp1')">
                    Waterfall Model
                </td>
                <td class="widthTable1"></td>
                <td id="sdp2" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('sdp2')">
                    Spiral Model
                </td>
                <td class="widthTable1"></td>
            </tr>
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="sdp3" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('sdp3')">
                    Agile Model
                </td>
                <td class="widthTable1"></td>
                <td id="sdp4" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('sdp4')">
                    SDLC
                </td>
                <td class="widthTable1"></td>
            </tr>
        </table>
        <hr class="is-hidden-tablet">            
    </div>
    <div class="column is-one-third has-text-centered card-other box-skils">
        <p class="title is-5 has-text-centered">
            <b>Documents</b>
        </p>
        <table class="container widthTable100">
            <tr class="widthTable100 is-hidden-mobile">
                <td class="widthTable35"></td>
                <td class="widthTable30 has-text-centered">
                    <img class="width100" src="assets/images/skils/other/logo-documents.png">
                </td>
                <td class="widthTable35"></td>
            </tr>
            <tr class="widthTable100 is-hidden-tablet">
                    <td class="widthTable40"></td>
                    <td class="widthTable20 has-text-centered">
                        <img class="width100" src="assets/images/skils/other/logo-documents.png">
                    </td>
                <td class="widthTable40"></td>
            </tr>
        </table>
        <table class="container widthTable100 mt-top1-5">
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="D1" class="widthTable98 has-text-centered card" (mouseover)="actionImageOverJump('D1')">
                    Software Requirements Specification
                </td>
                <td class="widthTable1"></td>
            </tr>
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="D2" class="widthTable98 has-text-centered card" (mouseover)="actionImageOverJump('D2')">
                    Software User Documentation
                </td>
                <td class="widthTable1"></td>
            </tr>
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="D3" class="widthTable98 has-text-centered card" (mouseover)="actionImageOverJump('D3')">
                    User Manual
                </td>
                <td class="widthTable1"></td>
            </tr>
        </table>
        <hr class="is-hidden-tablet">            
    </div>
    <div class="column is-one-third has-text-centered card-other box-skils">
        <p class="title is-5 has-text-centered">
            <b>Other Things</b>
        </p>
        <table class="container widthTable100">
            <tr class="widthTable100 is-hidden-mobile">
                <td class="widthTable35"></td>
                <td class="widthTable30 has-text-centered">
                    <img class="width100" src="assets/images/skils/other/logo-other-things.png">
                </td>
                <td class="widthTable35"></td>
            </tr>
            <tr class="widthTable100 is-hidden-tablet">
                <td class="widthTable40"></td>
                <td class="widthTable20 has-text-centered">
                    <img class="width100" src="assets/images/skils/other/logo-other-things.png">
                </td>
                <td class="widthTable40"></td>
            </tr>
        </table>
        <table class="container widthTable100 mt-top1">
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="ot1" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot1')">
                    Machine learning
                </td>
                <td class="widthTable1"></td>
                <td id="ot2" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot2')">
                    Image Processing
                </td>
                <td class="widthTable1"></td>
            </tr>
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="ot3" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot3')">
                    API/Chatbot
                </td>
                <td class="widthTable1"></td>
                <td id="ot4" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot4')">
                    Jquery/AJAX
                </td>
                <td class="widthTable1"></td>
            </tr>
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="ot7" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot7')">
                    PWA
                </td>
                <td class="widthTable1"></td>
                <td id="ot8" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot8')">
                    OOP
                </td>
                <td class="widthTable1"></td>
            </tr>
            <tr class="widthTable100">
                <td class="widthTable1"></td>
                <td id="ot9" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot9')">
                    Marketing
                </td>
                <td class="widthTable1"></td>
                <td id="ot10" class="widthTable48-5 has-text-centered card" (mouseover)="actionImageOverJump('ot10')">
                    PM
                </td>
                <td class="widthTable1"></td>
            </tr>
        </table>
    </div>
</div>
