<p class="title mt-top05 has-text-centered">
  <b><i class="fa fa-envelope" aria-hidden="true"></i> Contact</b>
</p>
<div class="mt-top1-5">
    <p class="subtitle is-6 has-text-centered is-hidden-mobile">
      <b>Email:</b> <a href="mailto:kokoskun@gmail.com">kokoskun@gmail.com</a> , <b>Phone:</b> <a href="tel:+66-84-677-6920">(+66)-84-677-6920</a>
    </p>
    <p class="subtitle is-7 has-text-centered is-hidden-tablet">
        <b>Email:</b> <a href="mailto:kokoskun@gmail.com">kokoskun@gmail.com</a> , <b>Phone:</b> <a href="tel:+66-84-677-6920">(+66)-84-677-6920</a>
      </p>
</div>
<br class="is-hidden-tablet">
<table class="container widthTable100">
    <tr class="widthTable100">
      <td class="widthTable4 is-hidden-mobile"></td>
      <td class="widthTable20 has-text-centered">
          <a (mouseover)="actionImageOverJumpC('ImageMF')" href="assets/images/qrcode/95846.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="ImageMF" class="width100" src="assets/images/qrcode/95846.jpg"></a>
          <p class="subtitle is-6 is-hidden-mobile"><b>Messenger Facebook</b></p>
          <p class="subtitle is-7 is-hidden-tablet"><b>Messenger Facebook</b></p>
      </td>
      <td class="widthTable4"></td>
      <td class="widthTable20 has-text-centered">
          <a (mouseover)="actionImageOverJumpC('ImageFacebook')" href="assets/images/qrcode/facebook.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="ImageFacebook" class="width100" src="assets/images/qrcode/facebook.jpg"></a>
          <p class="subtitle is-6 is-hidden-mobile"><b>Facebook</b><br><a href="https://www.facebook.com/patipan.nakarin" target="_blank">Link</a></p>
          <p class="subtitle is-7 is-hidden-tablet"><b>Facebook</b><br><a href="https://www.facebook.com/patipan.nakarin" target="_blank">Link</a></p>
      </td>      
      <td class="widthTable4"></td>
      <td class="widthTable20 has-text-centered">
          <a (mouseover)="actionImageOverJumpC('ImageLinkedin')" href="assets/images/qrcode/linkedin.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="ImageLinkedin" class="width100" src="assets/images/qrcode/linkedin.jpg"></a>
          <p class="subtitle is-6 is-hidden-mobile"><b>Linkedin</b><br><a href="https://th.linkedin.com/in/patipannakarin" target="_blank">Link</a></p>
          <p class="subtitle is-7 is-hidden-tablet"><b>Linkedin</b><br><a href="https://th.linkedin.com/in/patipannakarin" target="_blank">Link</a></p>          
      </td>      
      <td class="widthTable4"></td>
      <td class="widthTable20 has-text-centered">
          <a (mouseover)="actionImageOverJumpC('ImageLine')" href="assets/images/qrcode/line.jpg" data-lity data-lity-desc="Photo of My.Patipan Nakarin"><img id="ImageLine" class="width100" src="assets/images/qrcode/line.jpg"></a>
          <p class="subtitle is-6 is-hidden-mobile"><b>Line</b><br><a href="https://line.me/ti/p/~noasiveryoni" target="_blank">Link</a></p>
          <p class="subtitle is-7 is-hidden-tablet"><b>Line</b><br><a href="https://line.me/ti/p/~noasiveryoni" target="_blank">Link</a></p>  
      </td>      
      <td class="widthTable4 is-hidden-mobile"></td>
    </tr>
</table>
<br>